/* === Global Styles === */
/* Include the font */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
    font-family: 'Roboto', sans-serif;
    background-color: #d6d6d6; 
}

/* === Sections Column Styles === */
#sections {
    background-color: rgb(28, 28, 28);
    color: #d6d6d6;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    width: 130px;
    padding: 10px;
}

#sections a {
    color: lightgrey;
    text-decoration: none; 
}

#sections a:hover {
    color: white; 
}

/* === Content Styles === */
#content {
    margin-left: 160px;
    padding: 20px;
    background-color: #d6d6d6;
}

/* === User Info Styles === */
#user-info {
    position: fixed;
    top: 0;
    right: 0;
    padding: 20px;
}

#flash-messages {
    position: absolute;   /* or relative, depending on your layout */
    color: #5a5a5a;
    bottom: 18px;            /* adjust as needed */
    left: 180px;          /* adjust as needed */
    z-index: 10;          /* ensures the flash messages are above other elements */
}

#active-model-status, #user-info {
    display: inline-block;
    margin-right: 15px;  /* adjust this value as needed */
}

.active-model-display {
    color: rgb(30, 97, 30);
}
